@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #effff3;
}

.text-primary {
  @apply text-[#1F420F];
}

.text-secondary {
  @apply text-[#8CFE5C];
}

.text-accent {
  @apply text-[#0F890D];
}

.bg-secondary {
  @apply bg-[#8CFE5C];
}

.bg-primary {
  @apply bg-[#1F420F];
}

.blob {
  @apply bg-[#8CFE5C] absolute blur-[110px] opacity-40 rounded-full overflow-hidden -z-10;
}

.card-category {
  @apply relative flex items-center justify-center m-3 overflow-hidden min-h-[480px] min-w-[238px] rounded-2xl transition-all duration-500 ease-in-out;
}
.card-category-image {
  @apply absolute w-full h-full transition-all duration-500 ease-in-out transform bg-center bg-cover;
}
.card-detail {
  @apply relative flex items-center justify-center overflow-hidden max-h-full max-w-full rounded-2xl transition-all duration-500 ease-in-out;
}
.card-detail-image {
  @apply absolute w-full h-full transition-all duration-500 ease-in-out transform bg-center bg-cover;
}

.card-category:hover {
  @apply shadow-2xl;
}
.card-category:hover .card-category-image {
  @apply scale-110;
}

.card-detail:hover {
  @apply shadow-2xl;
}
.card-detail:hover .card-detail-image {
  @apply scale-110;
}

svg path,
.hover-text {
  @apply transition-all duration-500 ease-in-out origin-center;
}

.card-category:hover svg path,
.card-category:hover .hover-text {
  @apply text-[#8CFE5C] fill-[#8CFE5C];
}

.card-category:hover .hover-text {
  @apply scale-110;
}

@media screen and (min-width: 767px) {
  .router-link-active {
    @apply border-b-4 font-bold border-[#8CFE5C];
  }
}

/* Gaya khusus untuk layar seluler */
/* @font-face {
    font-family: 'Nunito', sans-serif;
    src: url('/fonts/poppins/Poppins-Black.ttf') format('ttf');
    font-weight: black;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Nunito', sans-serif;
    src: url('/fonts/poppins/Poppins-BlackItalic.ttf') format('ttf');
    font-weight: black;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Nunito', sans-serif;
    src: url('/fonts/poppins/Poppins-Bold.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Nunito', sans-serif;
    src: url('/fonts/poppins/Poppins-BoldItalic.ttf') format('ttf');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Nunito', sans-serif;
    src: url('/fonts/poppins/Poppins-ExtraBold.ttf') format('ttf');
    font-weight: bolder;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Nunito', sans-serif;
    src: url('/fonts/poppins/Poppins-ExtraBoldItalic.ttf') format('ttf');
    font-weight: bolder;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Nunito', sans-serif;
    src: url('/fonts/poppins/Poppins-SemiBold.ttf') format('ttf');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Nunito', sans-serif;
    src: url('/fonts/poppins/Poppins-SemiBoldItalic.ttf') format('ttf');
    font-weight: bolder;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Nunito', sans-serif;
    src: url('/fonts/poppins/Poppins-ExtraBoldItalic.ttf') format('ttf');
    font-weight: bolder;
    font-style: italic;
    font-display: swap;
} */
